<!doctype html>
<html lang="en">

<head>
    <title>Update Product</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <% include ../partials/linkcss %>
    <% include ../partials/linkdatepicker %>
</head>

<body style="background-color:#E6FCFF">
    <% include ../partials/navbar %>
    <div class="container">
        <form action="/user/update" method="post">
            <div class="form-group">
                <label for="/user/update">ID</label>
                <input type="number" class="form-control" value="<%= user.id%>" name="id" id="" aria-describedby="helpId"
                    placeholder="" readonly />
                <small id="helpId" class="form-text text-muted">User ID</small>
            </div>
            <div class="form-group">
                <label for="">Title</label>
                <input type="email" name="email" value="<%= user.email%>" id="" class="form-control" placeholder=""
                    aria-describedby="helpId">
                <small id="helpId" class="text-muted">User Email</small>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="password" class="form-control" value="<%= user.password%>" id="password"
                    aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">User password</small>

                <label for="">Comfirm Password</label>
                <input type="password" name="confirm_password" class="form-control" value="<%= user.password%>" id="confirm_password"
                    aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">Comfirm Password</small>
                <span id='message'></span>
            </div>
            
            <div class="form-group">
                <label for="">Create At</label>
                <input value="<%= user.created_at %>" name="created_at" id="datepicker" width="100%" class="form-control"
                    placeholder="" aria-describedby="helpId" />
                <script>
                    $('#datepicker').datepicker({
                        uiLibrary: 'bootstrap4'
                    });
                </script>
                <small id="helpId" class="text-muted">Date create</small>
            </div>
            <button type="submit" onclick="return confirmUpdate();" class="btn btn-success">Save</button>
            <a name="" id="" onclick="return confirmCancle();" class="btn btn-danger" href="/users" role="button">Cancle</a>
        </form>
    </div>

    <script>
        function confirmUpdate() {
            return confirm('Do you want to update user?');
        }

        function confirmCancle() {
            return confirm('Do you want to cancle?');
        }
        $('#password, #confirm_password').on('keyup', function () {
            if ($('#password').val() == $('#confirm_password').val()) {
                $('#message').html('Matching').css('color', 'green');
            } else
                $('#message').html('Not Matching').css('color', 'red');
        });
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>

</html>