<!doctype html>
<html lang="en">

<head>
    <title>Users</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <% include ../partials/linkdatatable %>

</head>

<body style="background-color:#E6FCFF">
    <% include ../partials/navbar %>
    <div class="container">

        <table id="users" class="table table-striped dt-responsive nowrap" style="width:100%">
            <colgroup>
                <col width="100">
                <col width="300">
                <col width="300">
                <col width="200">
                
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th><a name="" id="" class="btn btn-info" href="/user_new" role="button">Add New</a></th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user){ %>
                <tr>
                    <td scope="row">
                        <%= user.id%>
                    </td>
                    <td>
                        <%= user.email%>
                    </td>
                    <td>
                        <%= user.password%>
                    </td>
                    <td><a name="" id="" class="btn btn-primary" href="/users/<%= user.id%>" role="button">Edit</a>
                        <a name="" id="" onclick="return confirmDelete();" class="btn btn-danger" href="/user_delete/<%= user.id%>"
                            role="button">Delete</a>
                    </td>

                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <script>
        $('#users').DataTable({
            responsive: true
        });
    </script>
    <script>
        function confirmDelete() {
            return confirm('Do you want to delete ?');
        }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>

</html>